<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}} - {{#resume.basics}}{{label}}{{/resume.basics}}</title>
	<link rel="icon" href="/favicon.png" type="image/png" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
	<meta property="og:type" name="og:type" content="article" />
	<meta property="og:image" name="og:image" content="{{#resume.meta.og}}{{image}}{{/resume.meta.og}}" />
	<meta property="og:url" name="og:url" content="{{#resume.meta.og}}{{url}}{{/resume.meta.og}}" />
	<meta property="og:description" name="og:description" content="{{#resume.meta.og}}{{description}}{{/resume.meta.og}}" />
	<meta property="og:locale" name="og:locale" content="en_US" />
	<meta property="og:site_name" name="og:site_name" content="CV - {{#resume.basics}}{{name}}{{/resume.basics}} - {{#resume.basics}}{{label}}{{/resume.basics}}" />
	<meta property="twitter:card" name="twitter:card" content="summary_large_image" />
	<meta property="article:tag" name="article:tag" content="Curriculum" />
	<meta property="article:tag" name="article:tag" content="Front-end" />
	<meta property="article:tag" name="article:tag" content="JavaScript" />
	<meta property="article:tag" name="article:tag" content="React" />
	<meta property="article:tag" name="article:tag" content="Node.js" />
	<meta property="article:section" name="article:section" content="Curriculum" />
	<style type="text/css">
	{{{css}}}
	</style>
	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@type": "Person",
        "name": "{{#resume.basics}}{{name}}{{/resume.basics}}",
        "alternateName": "{{#resume.basics}}{{nickname}}{{/resume.basics}}",
        "identifier": "{{#resume.basics}}{{email}}{{/resume.basics}}",
        "description": "{{#resume.meta.og}}{{description}}{{/resume.meta.og}}",
        "image": "{{#resume.meta.og}}{{image}}{{/resume.meta.og}}"
      }
    }
    </script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-NSDH75PFR4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-NSDH75PFR4');
	</script>
	</head>
	<body onload="document.body.classList.add('loaded')">

	<header id="header">
		<div class="container">
			<div class="row">
				<article class="col-sm-9 col-sm-push-3">
					{{#resume.basics}}
					{{#name}}
					<h1 role="heading" aria-level="1">
						{{.}}
					</h1>
					{{/name}}
					{{#label}}
					<h2 role="heading" aria-level="2">
						{{.}}
					</h2>
					{{/label}}
					{{/resume.basics}}
				</article>
				<div class="col-sm-3">
					<div class="profile-container">
						<img src="./profile.jpg" alt="Giulio's profile picture, on a mountain background wearing a backpack">
					</div>
				</div>
			</div>
		</div>
	</header>
	<main id="content" class="container">
		<article>
			{{#resume.basics}}
			<section id="contact" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Contact</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#email}}
					<div class="col-sm-6">
						<strong>Email</strong>
						<div class="email">{{.}}</div>
					</div>
					{{/email}}
					{{#phone}}
					<div class="col-sm-6">
						<strong>Phone</strong>
						<div class="phone">{{.}}</div>
					</div>
					{{/phone}}
					</div>
				</div>
			</section>
			<section id="about" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>About</h3>
				</aside>
				<section class="col-sm-9">
				{{#summary}}
					<p>{{.}}</p>
				{{/summary}}
				</section>
			</section>
			{{#if profiles.length}}
			<section id="profiles" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Profiles</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
						{{#profiles}}
						<div class="col-sm-6">
							{{#network}}
							<strong class="network">
								{{.}}
							</strong>
							{{/network}}
							{{#if username}}
							<div class="username">
								{{#if url}}
								<div class="url">
									<a href="{{url}}">{{username}}</a>
								</div>
								{{else}}
									{{username}}
								{{/if}}
							</div>
							{{else}}
								{{#if url}}
								<div class="url">
									<a href="{{url}}">{{url}}</a>
								</div>
								{{/if}}
							{{/if}}
						</div>
						{{/profiles}}
					</div>
				</div>
			</section>
			{{/if}}
			{{/resume.basics}}

			{{#if resume.work.length}}
			<section id="work" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Work</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.work}}

					<section class="col-sm-12 {{isPagebreak pagebreak}}">
						<h4 class="heading-with-date">
							<span>{{company}}</span>
							<span class="date">
								{{startDate}} — {{endDate}}
							</span>
						</h4>
						{{#website}}
						<aside class="website pull-right">
							<a href="{{.}}">{{.}}</a>
						</aside>
						{{/website}}
						{{#position}}
						<div class="position">
							{{.}}
						</div>
						{{/position}}
						{{#summary}}
						<section class="summary">
							<p>{{.}}</p>
						</section>
						{{/summary}}
						{{#if highlights.length}}
						<h5>Highlights</h5>
						<aside>
							<ul class="keywords">
							{{#highlights}}
							<li class="bullet">{{.}}</li>
							{{/highlights}}
							</ul>
						</aside>
						{{/if}}
					</section>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.volunteer.length}}

			<section id="volunteer" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Volunteer</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.volunteer}}

					<div class="col-sm-12 {{isPagebreak pagebreak}}">
						<h4 class="heading-with-date">
							<span>{{organization}}</span>
							<span class="date">
								{{startDate}} — {{endDate}}
							</span>
						</h4>
						{{#website}}
						<aside class="website pull-right">
							<a href="{{.}}">{{.}}</a>
						</aside>
						{{/website}}
						{{#position}}
						<div class="position">
							{{.}}
						</div>
						{{/position}}
						{{#summary}}
						<section class="summary">
							<p>{{.}}</p>
						</section>
						{{/summary}}
						{{#if highlights.length}}
						<h4>Highlights</h4>
						<ul class="keywords">
							{{#highlights}}
							<li class="bullet">{{.}}</li>
							{{/highlights}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.education.length}}
			<section id="education" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Education</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.education}}

					<div class="col-sm-12 {{isPagebreak pagebreak}}">
						<h4 class="heading-with-date">
							<span>{{institution}}</span>
							<span class="date">
								{{startDate}} — {{endDate}}
							</span>
						</h4>
						{{#area}}
						<div class="area">
							{{.}}
						</div>
						{{/area}}
						{{#studyType}}
						<div class="studyType">
							{{.}}
						</div>
						{{/studyType}}
						{{#if courses.length}}
						<h4>Courses</h4>
						<ul class="courses">
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.awards.length}}
			<section id="awards" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Certifications & Awards</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.awards}}

					<div class="col-sm-12 {{isPagebreak pagebreak}}">
						<h4 class="heading-with-date">
							<span>{{title}}</span>
						</h4>
						{{#date}}
						<div class="date pull-right">
							<em>Awarded</em>
							{{.}}
						</div>
						{{/date}}
						{{#awarder}}
						<div class="awarder">
							<em>by</em>
							<strong>{{.}}</strong>
						</div>
						{{/awarder}}
						{{#summary}}
						<section class="summary">
							{{.}}
						</section>
						{{/summary}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.publications.length}}
			<section id="publications" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Personal Projects</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.publications}}

					<section class="col-sm-12 {{isPagebreak pagebreak}}">
						<h4>{{name}}</h4>
						{{#website}}
						<aside class="website pull-right">
							<a href="{{.}}"></a>
						</aside>
						{{/website}}
						{{#publisher}}
						<div class="publisher">
							<em>Available on</em>
							<strong>{{.}}</strong>
						</div>
						{{/publisher}}
						{{#summary}}
						<section class="summary">
							<p>{{.}}</p>
						</section>
						{{/summary}}
					</section>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.skills.length}}
			<section id="skills" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Skills</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.skills}}

					<div class="col-sm-6 {{isPagebreak pagebreak}}">
						{{#name}}
						<div class="name">
							<h4>{{.}}</h4>
						</div>
						{{/name}}
						{{#if keywords.length}}
						<ul class="keywords">
							{{#keywords}}
							<li>{{.}}</li>
							{{/keywords}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.languages.length}}
			<section id="languages" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Languages</h3>
				</aside>
				<div class="col-sm-9">
					<div class="row">
					{{#each resume.languages}}

					<div class="col-sm-6 {{isPagebreak pagebreak}}">
						{{#language}}
						<div class="language">
							<strong>{{.}}</strong>
						</div>
						{{/language}}
						{{#fluency}}
						<div class="fluency">
							{{.}}
						</div>
						{{/fluency}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.interests.length}}
			<section id="interests" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>Interests</h3>
				</aside>
				<div class="col-sm-9 {{isPagebreak pagebreak}}">
					<div class="row">
					{{#each resume.interests}}
					<div class="col-sm-6">
						{{#name}}
						<div class="name">
							<h4>{{.}}</h4>
						</div>
						{{/name}}
						{{#if keywords.length}}
						<ul class="keywords">
							{{#keywords}}
							<li>{{.}}</li>
							{{/keywords}}
						</ul>
						{{/if}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}

			{{#if resume.references.length}}
			<section id="references" class="row top-level-section">
				<aside class="col-sm-3">
					<h3>References</h3>
				</aside>
				<div class="col-sm-9 {{isPagebreak pagebreak}}">
					<div class="row">
					{{#each resume.references}}

					<div class="col-sm-12">
						{{#if reference}}
						<blockquote class="reference">
							<p>{{reference}}</p>
							{{#name}}
							<p class="name">
								<strong>— {{.}}</strong>
							</p>
							{{/name}}
						</blockquote>
						{{/if}}
					</div>
					{{/each}}
					</div>
				</div>
			</section>
			{{/if}}
		</article>
	</main>

	</body>
</html>
